<template>
  <div class="root">
    <Input/>
    <Button></Button>
  </div>
</template>

<script>
import Button from '@/components/Button.vue'
import Input from '@/components/Input.vue'

export default {
  name: 'Home',
  components: {
    Button,
    Input
  }
}

</script>

<style>
</style>
