<template>
  <div>
    <p :class="['root', theme]">
      <slot>DEFAULT_BUTTON</slot>
    </p>
  </div>
</template>

<script>
export default {
  name: 'Button',
  props: {
    theme: {
      type: String,
      default: 'grey'
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    border-radius: 24px;
    font-size: 16px;
    cursor: pointer;
  }

  .orange {
    background-color: rgb(255, 137, 73);
    color: rgb(255, 255, 255);
  }

  .grey {
    background-color: rgb(243, 243, 243);
    color: rgb(51, 51, 51);
    &:hover, &:active {
      opacity: 0.4;
    }
  }
</style>
