<template>
  <div class='form-element'>
    <label class='form-label'>
      <span>{{ computedLabel }}</span>
    </label>
    <div class="input-container">
      <input v-model="label"/>
    </div>
  </div>
</template>

<script>
import { useComputedLabel2 as cLabel } from '@/composables/computedLabel'

export default {
  name: 'Input',
  setup(props) {
    console.log('Prepare to setup')
    console.log(props)

    const { label, computedLabel } = cLabel()

    return {
      label,
      computedLabel,
    }
  },
}
</script>

<style>
  .form-element {
    display: inline-flex;
  }

  .input-container {

    input {
    }
  }

  .form-label {
    font-size: 14px;
    color: rgb(51, 51, 51);
    padding: 2px;
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    background-color: #F2F2F2;
  }
</style>
