<template>
  <img alt="Vue logo" src="./assets/logo.png">
  <div>
    <router-view/>
  </div>
  <div>
    <a>Revert String</a>
  </div>
</template>

<script>

export default {
  name: 'App'
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.router-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
</style>
